# File Systems
.DS_Store
desktop.ini

# Editors
*.swp
*.swo
*.bak
.idea
.vscode

# Python
__pycache__
*.py[cod]

# Build
*.egg-info
*.egg
dist
build

# Testing
img
logs
database
config
test.py
test

# Working
working/img_info.sqlite3